{% extends "master.jinja2" %}
{% block title %}Add{% endblock %}
{% block content %}
{% raw %}
<script type="text/x-handlebars">
    {{#view App.FormAddQuote class="form-horizontal" method="post"}}
	<fieldset>
	  <legend>Add a New Quote</legend>
	  <div class="control-group">
		<label class="control-label" for="quote">Quote</label>
		<div class="controls">
		    {{view Ember.TextArea valueBinding="quote"}}
		</div>
	  </div>
	  <div class="control-group">
		<div class="controls">
		    <input type="submit" value="Add!" class="btn btn-primary" />
		</div>
	  </div>
	</fieldset>
    {{/view}}
</script>
{% endraw %}
{% endblock %}
